azuredatafactorygsk/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "azuredatafactorygsk"
		},
		"AzureBlobStorage_SourceFiles_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage_SourceFiles'"
		},
		"AzureSqlDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_DeleteFiles_Dynamically')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteFiles",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Delete_Emp_Files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DeleteFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('DeleteFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "DeleteFiles_Dynamically",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_DeleteFiles",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "AzureBlobStorage_SourceFiles",
												"type": "LinkedServiceReference"
											},
											"path": "gsk"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-28T20:03:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Delete_Emp_Files')]",
				"[concat(variables('factoryId'), '/datasets/ds_DeleteFiles')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_FileNamesDynamically')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileNamesDynamically",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Emplists_SourceDatasets",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileNamesDynamically",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileNamesDynamically').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyFile",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_EmpInputFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_Emplists_TargetFiles",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-28T18:27:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Emplists_SourceDatasets')]",
				"[concat(variables('factoryId'), '/datasets/ds_EmpInputFileDataset')]",
				"[concat(variables('factoryId'), '/datasets/ds_Emplists_TargetFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_FilestoAzureSQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFilesData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Emplists_SourceDatasets",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "GetEachFileNametoProcess",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFilesData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFilesData').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyFilesDatatoAzureSQLDB",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_blob_EmpLocDtls",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTable_EmpLocDtl",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-28T21:12:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Emplists_SourceDatasets')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob_EmpLocDtls')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable_EmpLocDtl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_RemoveDuplicates')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_Remove_Duplicates",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_Remove_Duplicates",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmpSrcEastFile": {},
									"EmpSrcEast2ndFile": {},
									"sinkEmpFileListCompleteData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-28T23:14:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_Remove_Duplicates')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Test_GetFilenames')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileNames",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "db_Test_EmpLists_SourceFiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileNames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileNames').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyEachFiletoAzureSQLTargetTable",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_Test_EmpLists_SourceFiles_ForEachFile",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_TargetEmpLists",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-28T18:43:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/db_Test_EmpLists_SourceFiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_Test_EmpLists_SourceFiles_ForEachFile')]",
				"[concat(variables('factoryId'), '/datasets/ds_TargetEmpLists')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_df_scdType1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_scdType1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_scdtype1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmpSrc": {},
									"Empsink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-28T05:22:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_scdtype1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_df_scdType2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_scdType2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_scdType2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmpSrc": {},
									"EMPTGTSCDTYPE2": {},
									"sinkInsert": {},
									"sinkUpdate": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-28T15:49:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_scdType2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable_EMPTGT_SCD_TYPE2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EMPID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EMPNAME",
						"type": "varchar"
					},
					{
						"name": "EMPSAL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEPTID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ISACTIVE",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EMPTGT_SCD_TYPE2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable_EmpLocDtl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EMPID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EMPNAME",
						"type": "varchar"
					},
					{
						"name": "EMPSAL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EMPLOCATION",
						"type": "varchar"
					},
					{
						"name": "DEPTID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EMPLOCATION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_Test_EmpLists_SourceFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "sourcefiles/EMPListswithLocationDetails",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_DeleteFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "TargetTestfiles",
						"container": "gsk"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Delete_Emp_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "TargetTestfiles",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_EmpFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Emp.txt",
						"folderPath": "sourcefiles",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPID",
						"type": "String"
					},
					{
						"name": "ENAME",
						"type": "String"
					},
					{
						"name": "ESAL",
						"type": "String"
					},
					{
						"name": "DEPTID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_EmpInputFileDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "sourcefiles/EMPListswithLocationDetails",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_EmpSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EMPID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENAME",
						"type": "varchar"
					},
					{
						"name": "ESAL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEPTID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EMPTGT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_EmpSrcEast2ndFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "EmplistEast_Dups.txt",
						"folderPath": "sourcefiles/RemoveDuplicates_UnionAgg_Scenario",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPID",
						"type": "String"
					},
					{
						"name": "EMPNAME",
						"type": "String"
					},
					{
						"name": "EMPSAL",
						"type": "String"
					},
					{
						"name": "EMPLOCATION",
						"type": "String"
					},
					{
						"name": "DEPTID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_EmpSrcEastFile1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "EmplistEast.txt",
						"folderPath": "sourcefiles/RemoveDuplicates_UnionAgg_Scenario",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPID",
						"type": "String"
					},
					{
						"name": "EMPNAME",
						"type": "String"
					},
					{
						"name": "EMPSAL",
						"type": "String"
					},
					{
						"name": "EMPLOCATION",
						"type": "String"
					},
					{
						"name": "DEPTID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_EmpSrcWestFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "EmpListWest.txt",
						"folderPath": "sourcefiles/RemoveDuplicates_UnionAgg_Scenario",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "104",
						"type": "String"
					},
					{
						"name": "RAVI",
						"type": "String"
					},
					{
						"name": "7000",
						"type": "String"
					},
					{
						"name": "CALIFORNIA",
						"type": "String"
					},
					{
						"name": "10",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Emplists_SourceDatasets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "sourcefiles/EMPListswithLocationDetails",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Emplists_TargetFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "TargetFiles",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_TargetEmpLists')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "TargetTestfiles",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Test_EmpLists_SourceFiles_ForEachFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "sourcefiles/EMPListswithLocationDetails",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_EmpLocDtls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "sourcefiles/EMPListswithLocationDetails",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sampleGitTest_BlobConn')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_SourceFiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Emp.txt",
						"folderPath": "sourcefiles",
						"container": "gsk"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPID",
						"type": "String"
					},
					{
						"name": "ENAME",
						"type": "String"
					},
					{
						"name": "ESAL",
						"type": "String"
					},
					{
						"name": "DEPTID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_SourceFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_SourceFiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_SourceFiles_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Remove_Duplicates')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_EmpSrcEastFile1",
								"type": "DatasetReference"
							},
							"name": "EmpSrcEastFile"
						},
						{
							"dataset": {
								"referenceName": "ds_EmpSrcEast2ndFile",
								"type": "DatasetReference"
							},
							"name": "EmpSrcEast2ndFile"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable_EmpLocDtl",
								"type": "DatasetReference"
							},
							"name": "sinkEmpFileListCompleteData"
						}
					],
					"transformations": [
						{
							"name": "union1"
						},
						{
							"name": "RemovingDups"
						},
						{
							"name": "sortonEmpId"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EMPID as string,",
						"          EMPNAME as string,",
						"          EMPSAL as string,",
						"          EMPLOCATION as string,",
						"          DEPTID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EmpSrcEastFile",
						"source(output(",
						"          EMPID as string,",
						"          EMPNAME as string,",
						"          EMPSAL as string,",
						"          EMPLOCATION as string,",
						"          DEPTID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EmpSrcEast2ndFile",
						"EmpSrcEastFile, EmpSrcEast2ndFile union(byName: true)~> union1",
						"union1 aggregate(groupBy(EMPID),",
						"     each(match(name!='EMPID'), $$ = first($$))) ~> RemovingDups",
						"RemovingDups sort(asc(EMPID, true)) ~> sortonEmpId",
						"sortonEmpId sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          EMPID as integer,",
						"          EMPNAME as string,",
						"          EMPSAL as integer,",
						"          EMPLOCATION as string,",
						"          DEPTID as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkEmpFileListCompleteData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_EmpSrcEastFile1')]",
				"[concat(variables('factoryId'), '/datasets/ds_EmpSrcEast2ndFile')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable_EmpLocDtl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_scdType2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_EmpFile",
								"type": "DatasetReference"
							},
							"name": "EmpSrc"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlTable_EMPTGT_SCD_TYPE2",
								"type": "DatasetReference"
							},
							"name": "EMPTGTSCDTYPE2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable_EMPTGT_SCD_TYPE2",
								"type": "DatasetReference"
							},
							"name": "sinkInsert"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlTable_EMPTGT_SCD_TYPE2",
								"type": "DatasetReference"
							},
							"name": "sinkUpdate"
						}
					],
					"transformations": [
						{
							"name": "AssignIsActive"
						},
						{
							"name": "lookuponTargetEmpforUpdate"
						},
						{
							"name": "AssigningIsActiveto0"
						},
						{
							"name": "UpdatingIsActiveflagto0"
						},
						{
							"name": "RenamingTargetColumns"
						},
						{
							"name": "selectingonlyrequiredcols"
						},
						{
							"name": "lookuponTargetEmpforInsert"
						},
						{
							"name": "FilteringNewRecordsandChangedRecs"
						},
						{
							"name": "DefiningUpdateCondition"
						},
						{
							"name": "FilteringOnlyExistingRecordswithChanges"
						},
						{
							"name": "DefiningInsertCondition"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EMPID as integer,",
						"          ENAME as string,",
						"          ESAL as integer,",
						"          DEPTID as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EmpSrc",
						"source(output(",
						"          UID as integer,",
						"          EMPID as integer,",
						"          EMPNAME as string,",
						"          EMPSAL as integer,",
						"          DEPTID as integer,",
						"          ISACTIVE as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> EMPTGTSCDTYPE2",
						"FilteringNewRecordsandChangedRecs derive(IsActive = 1) ~> AssignIsActive",
						"EmpSrc, RenamingTargetColumns lookup(EMPID == sql_EMPID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookuponTargetEmpforUpdate",
						"selectingonlyrequiredcols derive(ISACTIVE = 0) ~> AssigningIsActiveto0",
						"AssigningIsActiveto0 alterRow(updateIf(true())) ~> UpdatingIsActiveflagto0",
						"EMPTGTSCDTYPE2 select(mapColumn(",
						"          sql_UID = UID,",
						"          sql_EMPID = EMPID,",
						"          sql_EMPNAME = EMPNAME,",
						"          sql_EMPSAL = EMPSAL,",
						"          sql_DEPTID = DEPTID,",
						"          sql_ISACTIVE = ISACTIVE",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> RenamingTargetColumns",
						"FilteringOnlyExistingRecordswithChanges select(mapColumn(",
						"          sql_UID,",
						"          sql_EMPID,",
						"          sql_EMPNAME,",
						"          sql_EMPSAL,",
						"          sql_DEPTID,",
						"          sql_ISACTIVE",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectingonlyrequiredcols",
						"EmpSrc, RenamingTargetColumns lookup(EMPID == sql_EMPID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookuponTargetEmpforInsert",
						"DefiningInsertCondition filter(isNull (sql_EMPID) || (HashcolSrc!=HashcolTgt)) ~> FilteringNewRecordsandChangedRecs",
						"lookuponTargetEmpforUpdate derive(HashcolSrc = sha2(256,EMPID,ENAME,ESAL,DEPTID ),",
						"          HashcolTgt = sha2(256, sql_EMPID,sql_EMPNAME,sql_EMPSAL,sql_DEPTID)) ~> DefiningUpdateCondition",
						"DefiningUpdateCondition filter(!isNull (sql_EMPID) && HashcolSrc!=HashcolTgt) ~> FilteringOnlyExistingRecordswithChanges",
						"lookuponTargetEmpforInsert derive(HashcolSrc = sha2(256,EMPID,ENAME,ESAL,DEPTID ),",
						"          HashcolTgt = sha2(256, sql_EMPID,sql_EMPNAME,sql_EMPSAL,sql_DEPTID)) ~> DefiningInsertCondition",
						"AssignIsActive sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          UID as integer,",
						"          EMPID as integer,",
						"          EMPNAME as string,",
						"          EMPSAL as integer,",
						"          DEPTID as integer,",
						"          ISACTIVE as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 2,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          EMPID,",
						"          EMPNAME = ENAME,",
						"          EMPSAL = ESAL,",
						"          DEPTID,",
						"          ISACTIVE = IsActive",
						"     )) ~> sinkInsert",
						"UpdatingIsActiveflagto0 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          UID as integer,",
						"          EMPID as integer,",
						"          EMPNAME as string,",
						"          EMPSAL as integer,",
						"          DEPTID as integer,",
						"          ISACTIVE as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['UID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          UID = sql_UID,",
						"          EMPID = sql_EMPID,",
						"          EMPNAME = sql_EMPNAME,",
						"          EMPSAL = sql_EMPSAL,",
						"          DEPTID = sql_DEPTID,",
						"          ISACTIVE",
						"     )) ~> sinkUpdate"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_EmpFile')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable_EMPTGT_SCD_TYPE2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_scdtype1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_EmpFile",
								"type": "DatasetReference"
							},
							"name": "EmpSrc"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_EmpSink",
								"type": "DatasetReference"
							},
							"name": "Empsink"
						}
					],
					"transformations": [
						{
							"name": "alterRow"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EMPID as integer,",
						"          ENAME as string,",
						"          ESAL as integer,",
						"          DEPTID as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EmpSrc",
						"EmpSrc alterRow(upsertIf(true())) ~> alterRow",
						"alterRow sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          EMPID as integer,",
						"          ENAME as string,",
						"          ESAL as integer,",
						"          DEPTID as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['EMPID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          EMPID,",
						"          ENAME,",
						"          ESAL,",
						"          DEPTID",
						"     )) ~> Empsink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_EmpFile')]",
				"[concat(variables('factoryId'), '/datasets/ds_EmpSink')]"
			]
		}
	]
}